*{
    margin:0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 55px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 125px;
    
}
.logo{
    background-image: url("Screenshot\ \(9\).png");
    background-size: cover;
    height: 45px;
    width: 100%;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/** nav-add **/

.nav-add{
    height: 45px;
    width:140px;
    margin-top:5px;
    margin-bottom:5px;
}
.add-first{
    color: #CCCCCC;
    font-size: 0.8rem;
    height: 20;
    margin-left:15px;
    margin-top: 10px;
}
.add-second{
    color:#FFFFFF;
    font-size: 1rem;
    height:25;
}
.add-icon{
    display: flex;
    align-items: center;
}
/*** nav-search **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width:850px;
    height: 40px;
    border-radius: 3px;
}
.search-select{
    background-color: #F3F3F3;
    width:50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.search-select:hover{
    background-color: #CCCCCC;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#0f1111;
}
.search-icon:hover{
    background-color: rgba(247, 215, 37, 0.944);
}
.nav-search:hover{
    border: 2px solid orange;
}

/** nav-sign **/

span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 900;
}
/** nav-cart **/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font: 0.85rem;
    font-weight: 900;
}

/** panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}
.panel-sale{
    display: flex;
}
.panel-sale-icon i{
    margin-left:7px;
    font-size:1rem;
}
.panel-ops p{
    display:inline;
    margin-left: 9px;;
}
.panel-ops{
    width:75%;
    font-size: 1rem;
}
.panel-all{
    font-weight: 800;
}
.panel-sale{
    font-size: 1.2rem;
    font-weight: 400;
}
a{
    text-decoration: none;
    color:white;
}
/**hero-section**/
.hero-section{
    background-image: url("Hero-Image.jpg");
    background-size: cover;
    height: 270px;
}

/** shop-section **/
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(251, 230, 203);
}
.box-image{
    height: 200px;
    width:250px;
    background-size:contain;
    background-repeat: no-repeat;
}

.box{
     /**border: 2px solid black;***/
     height:275px;
     width:23%;
     background-color: white;
     padding: 20px 0px 15px;
     margin:15px;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.flight-img{
    background-image: url("hero-image2.jpg");
    background-size: cover;
    height: 300px;
    margin:15px;
    border:20px solid white;
}
.flight-section{
    width:100%;
}
/** Footer **/
.foot-panel1{
    background-color: #37475a;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.90rem;
}
footer{
    margin-top:15px;
}
.ab{
    color:white;
}
.pb{
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 5px;

}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height: 325px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    margin-top:10px;
    color:#dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid grey;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
    background-image: url("Screenshot\ \(11\).png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width:100px;
}
.foot-panel4{
    background-color:#0f1111;
    height:70px;
}
.pages{
    padding-top: 20px;
    font-size: 0.7rem;
    text-align: center;
}
.copyright{
    font: 0.5rem;
    text-align: center;
    color:white;
}
.pages a{
    margin-left:5px;
}
.pages a:hover{
    text-decoration: underline;
}